In [1]:
import pandas as pd
import numpy as np

In [2]:
crop_yield = pd.read_csv("../data/raw/Crop_yield_prediction.csv")
faostat = pd.read_csv("../data/raw/Faostat_yield_price.csv")
karnataka = pd.read_csv("../data/raw/Karnataka_agri.csv")
soil_weather = pd.read_csv("../data/raw/Soil and Weather Prediction.csv")

In [3]:
crop_yield = crop_yield.rename(columns={
    "Region": "location",
    "Soil_Type": "soil_type",
    "Crop": "crop",
    "Rainfall_mm": "rainfall",
    "Temperature_Celsius": "temperature",
    "Yield_tons_per_hectare": "yield"
})
crop_yield = crop_yield[["location", "soil_type", "crop", "rainfall", "temperature", "yield"]]

In [4]:
faostat = faostat.rename(columns=lambda x: x.strip().lower())
faostat = faostat[["area", "item", "year", "element", "value"]]
faostat = faostat.rename(columns={
    "area": "location",
    "item": "crop",
    "year": "year"
})

In [5]:
faostat_pivot = faostat.pivot_table(
    index=["location", "crop", "year"],
    columns="element",
    values="value",
    aggfunc="mean"
).reset_index()
faostat_pivot = faostat_pivot.rename(columns={
    "Yield": "yield_faostat",
    "Production": "production",
    "Area harvested": "area",
    "Producer Price (USD/tonne)": "price"
})

In [7]:
karnataka = karnataka.rename(columns={
    "Year": "year",
    "Location": "location",
    "Rainfall": "rainfall",
    "Temperature": "temperature",
    "Soil type": "soil_type",
    "yeilds": "yield",
    "Crops": "crop",
    "price": "price",
    "Humidity": "humidity"
})
karnataka = karnataka[["location", "year", "soil_type", "crop", "rainfall", "temperature", "humidity", "yield", "price"]]

In [8]:
soil_weather = soil_weather.rename(columns=lambda x: x.strip().lower())
soil_weather = soil_weather.rename(columns={
    "location": "location",
    "year": "year",
    "soil_type": "soil_type",
    "crop": "crop",
    "rainfall": "rainfall",
    "temperature": "temperature",
    "humidity": "humidity"
})

In [9]:
all_data = pd.concat([
    crop_yield,
    faostat_pivot,
    karnataka,
    soil_weather
], ignore_index=True, sort=False)

In [10]:
for col in ["location", "year", "soil_type", "crop", "rainfall", "temperature", "humidity", "yield", "price"]:
    if col not in all_data.columns:
        all_data[col] = np.nan

In [11]:
all_data = all_data[["location", "year", "soil_type", "crop", "rainfall", "temperature", "humidity", "yield", "price"]]
all_data.drop_duplicates(inplace=True)

In [12]:
output_path = "../data/processed/master_dataset.csv"
all_data.to_csv(output_path, index=False)

print(f"✅ Master dataset saved to {output_path}")
print("Final shape:", all_data.shape)
print(all_data.head(20))

✅ Master dataset saved to ../data/processed/master_dataset.csv
Final shape: (1004002, 9)
   location  year soil_type     crop    rainfall  temperature  humidity  \
0      West   NaN     Sandy   Cotton  897.077239    27.676966       NaN
1     South   NaN      Clay     Rice  992.673282    18.026142       NaN
2     North   NaN      Loam   Barley  147.998025    29.794042       NaN
3     North   NaN     Sandy  Soybean  986.866331    16.644190       NaN
4     South   NaN      Silt    Wheat  730.379174    31.620687       NaN
5     South   NaN      Silt  Soybean  797.471182    37.704974       NaN
6      West   NaN      Clay    Wheat  357.902357    31.593431       NaN
7     South   NaN     Sandy     Rice  441.131154    30.887107       NaN
8     North   NaN      Silt    Wheat  181.587861    26.752729       NaN
9      West   NaN     Sandy    Wheat  395.048968    17.646199       NaN
10    North   NaN     Peaty    Wheat  385.135314    21.656192       NaN
11     East   NaN     Sandy   Cotton  145.300681    19.755535       NaN
12    South   NaN     Peaty   Cotton  607.150252    15.562163       NaN
13     East   NaN      Clay   Barley  929.123735    29.677303       NaN
14    North   NaN     Peaty   Barley  621.778388    26.843173       NaN
15     East   NaN    Chalky     Rice  874.456744    27.256869       NaN
16     East   NaN     Peaty    Wheat  787.084306    25.672920       NaN
17    North   NaN      Clay   Cotton  416.898632    23.190810       NaN
18    North   NaN     Sandy   Barley  977.259083    17.604100       NaN
19    South   NaN      Clay    Maize  888.207630    39.945509       NaN

       yield  price
0   6.555816    NaN
1   8.527341    NaN
2   1.127443    NaN
3   6.517573    NaN
4   7.248251    NaN
5   5.898416    NaN
6   2.652392    NaN
7   5.829542    NaN
8   2.943716    NaN
9   3.707293    NaN
10  2.564442    NaN
11  4.367612    NaN
12  6.525186    NaN
13  6.493031    NaN
14  4.573219    NaN
15  5.839291    NaN
16  4.366881    NaN
17  4.858924    NaN
18  5.778099    NaN
19  7.173037    NaN